<link rel="icon" type="image/png" href="/assets/realfavicongenerator.net/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/realfavicongenerator.net/favicon.svg" />
<link rel="shortcut icon" href="/assets/realfavicongenerator.net/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/realfavicongenerator.net/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Micro Binfie" />
<link rel="manifest" href="/assets/realfavicongenerator.net/site.webmanifest" />